<!doctype html>
{{block html_tag}}<html>{{end}}
  <head>
    <meta charset="utf-8">
    {{block stylecss}}{{end stylecss}}
    {{block script}}{{end script}}
    <title>Avalon uliweb examples:test{{<<"%d"%(testid)}}</title>
  </head>
  {{block body_tag}}<body>{{end}}
  {{if testid>1:}}
  <a href="/test{{='%d'%(testid-1)}}">last</a>
  {{else:}}
  last
  {{pass}}
  <a href="/">home</a> <a href="/test{{='%d'%(testid+1)}}">next</a>
  <hr />
  {{block content}}{{end content}}
  {{use "avalon"}}
  </body>
</html>
